
.downloads--index{
  margin-bottom: 46px;
  display: grid;
  position: relative;
  padding-top: 66px;
  background-color: $color-blue;
  background-image: url("../../img/background/phone-mobile@1x.png"), url("../../img/background/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top 176px,top;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/phone-mobile@2x.png"), url("../../img/background/back-mobile@2x.jpg");
    background-size: contain;
  }
}

.downloads__title {
  display: none;
}

.downloads__title--mobile {
  display: block;
  padding: 0 15px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  transform: translateY(23px);
}

.downloads__buttons-block {
  margin: 355px 0 0 0 ;
  padding-top: 28px;
}

.downloads__wrapper {
  width: 320px;
  text-align: center;

  @include wrapper();
}

.downloads__link {
  display: inline-block;
  margin-bottom: 20px;
  padding: 16px 35px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $color-white;
  cursor: pointer;
  border: 3px solid $color-white;
  border-radius: 50px;
  transform: translateY(-15px);

  @include link-unstyled
}

.downloads__link:hover {
  color: $color-red;
  background-color: $color-white;
}

.downloads__link:active {
color: $color-red-thirty;
}

.downloads__list {
  margin:0 0 10px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.downloads__link-app {
  padding: 0 17.5px;
  cursor: pointer;
}

.downloads__text {
  margin: 0;
  padding: 0 0 26px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $color-white;
}

@media (min-width: 660px) {

  .downloads--index {
    margin-bottom: 45px;
    position: relative;
    background-image: url("../../img/background/phone-tablet@1x.png"),url("../../img/background/back-tablet.jpg");
    background-position: center top 184px,center top;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/phone-tablet@2x.png"),url("../../img/background/back-tablet@2x.jpg");
    }
  }

  .downloads__wrapper {
    width: 660px;
    text-align: left;
  }

  .downloads__title--mobile {
    display: none;
  }

  .downloads__buttons-block {
    margin: 150px 0 0 0;
    background-color: transparent;
    transform: translateY(-40px);
  }

  .downloads__title--tablet {
    margin: 0 400px 45px 45px;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: $color-white;
    transform: translate(6px, 137px);
  }

  .downloads__link {
    margin-bottom: 33px;
    padding: 15px 45px;
  }

  .downloads__list {
    margin-bottom: 24px;
    padding-left: 29px;
    justify-content: flex-start;
  }

  .downloads__text {
    width: 310px;
    padding-bottom: 75px;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {

  .downloads--index {
    margin-bottom: 62px;
    background-image: url("../../img/background/phone-desktop@1x.png"), url("../../img/background/back-desktop.jpg");
    background-position: 68% 100%, 50% 0;
    background-size: 1050px,cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/phone-desktop@2x.png"), url("../../img/background/back-desktop@2x.jpg");
    }
  }

  .downloads__wrapper {
    width: 1200px;
    padding: 0 130px;
    box-sizing: border-box;
  }

  .downloads__buttons-block {
    padding: 0;
    margin: 0;
  }

  .downloads__title--tablet {
    margin: 5px 672px 228px 25px;
    font-size: 50px;
    line-height: 68px;
  }

  .downloads__link {
    margin: 0 0 55px;
    padding: 16px 35px 16px 28px;
    font-size: 21px;
  }

  .downloads__list {
    margin-bottom: 42px;
  }

  .downloads__text {
    padding-right: 9px;
    padding-bottom: 86px;
  }

}
