.page {
  border: none;
}

.editor {
  position: relative;
  font-family: "Open Sans",arial,sans-serif;
  height: 100vh;
}

.editor__toggle {
  display: none;
}

.wrapper {
  text-align: center;
  outline: 3px solid red;

  @include wrapper;
}

.editor__img {
  margin-bottom: 42px;
}

.editor__title {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $color-basic-black;
}

.editor__title:last-of-type {
  margin-bottom: 52px;
}

.button {

  @include button-unstyled;
}

.editor__field {
  margin:0;
  padding: 0;
  border: none;
}

.editor__button {
  margin-right: 35px;
}

.editor__button:nth-child(3) {
  margin-right: 0;
}

.editor-form__submit,
.editor-form__reset {
  margin: 0 auto;
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 30px;
}

.editor-form__submit {
  margin-bottom: 12px;
  padding: 21px 90px;
  color: $color-red;
  border: 3px solid $color-red;
}

.editor-form__reset {
  padding: 21px 104px;
  color: $color-basic-black;
  border: 3px solid $color-basic-black;
  opacity: 0.1;
}

.editor__field-slider {
  margin-bottom: 73px;
  width: 100%;
  border-bottom: 1px solid $color-extra-grey;

}

.editor__slider {
  -webkit-appearance: none;
  margin-bottom: 34px;
  width: 240px;
  height: 2px;
  background: $color-basic-black;
  outline: none;
}

.editor__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-image: url("../../img/icons/slider.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.editor__field-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {

  .wrapper {
    width: 660px;
    outline: 3px solid darkgreen;
  }

  .editor__title {
    font-size: 18px;
  }

  .editor__field-slider {
    display: none;
  }

  .editor-form__submit {
    padding: 21px 80px;
  }

  .editor-form__reset {
    padding: 21px 94px;
  }

  .editor__toggle {
    margin-bottom: 23px;
    width: 275px;
    border-bottom: 1px solid $color-extra-grey;
  }

  .editor__slider {
    margin-right: 18px;
    width: 202px;
  }

  .editor__toggle {
    position: relative;
    display: block;
  }

  .editor__slider-img {
    position: absolute;
    left: 8px;
    top: 3px;
  }

  .editor__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .editor__field-buttons {
    display: none;
  }

  .editor__field-toggles {
    position: absolute;
    text-align: right;
    right: 0;
    top:0;
  }

  .editor__group-buttons {
    position: absolute;
    bottom: 50px;
    right: 13px;
  }

}
@media (min-width: 1200px) {

  .wrapper {
    width: 1200px;
    padding: 0 130px;
    outline: 3px solid blue;
  }

  .editor__group-buttons {
    display: flex;
    justify-content: center;
    width: 55%;
  }

  .editor__field-toggles {
    margin-right: 60px;
    width: 50%;
  }

  .editor__toggle {
    width: 100%;
  }

  .editor__slider {
    width: 288px;
  }

  .editor-form__submit {
    margin: 0 44px 0 0;
    padding: 21px 42px;
  }

  .editor-form__reset {
    padding: 21px 55px;
  }
}
