.form-error__wrapper {
  padding-top: 40px;
  width: 100%;
  text-align: center;
}

.form-error__title {
  margin: 0 0 26px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $color-original-black;
}

.form-error__text {
  margin: 0;
  padding-bottom: 36px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.form-error__container {
  margin: 0 auto;
  padding: 5px 20px 50px 20px;
  box-sizing: border-box;
  text-align: center;
}

.form-error__button {
  padding: 16px 126px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-green;
  border-radius: 1px;
}

@media (min-width: 660px) {
  .form-error__wrapper {
    padding: 0;
  }

  .form-error__title {
    margin-bottom: 24px;
    padding: 49px 122px 0 122px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }

  .form-error__text {
    padding: 0 81px 27px 81px;
    font-size: 18px;
  }

  .form-error__container {
    width: 460px;
  }

  .form-error__button {
    padding: 16px 135px;
  }
}

@media (min-width: 980px) {

  .form-error__title {
    margin-bottom: 23px;
  }

  .form-error__text {
    padding: 0 214px 62px 214px;
  }

  .form-error__container {
    padding: 50px 0 50px 0;
    width: 780px;
    background-color: $color-grey;
  }

  .form-error__button {
    padding: 17px 137px;
  }
}
