.form-error {
}

.form-error__wrapper {
  text-align: center;
  outline: 3px solid red;

  @include wrapper;
}

.form-error__title {
  margin: 0 0 37px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $color-original-black;
}

.form-error__text {
  margin: 0;
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.form-error__container {
  margin: 0 auto;
  padding: 52px 20px;
  box-sizing: border-box;
  text-align: center;
  outline: 3px solid fuchsia;
}

.form-error__button {
  padding: 23px 124px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-green;
  border-radius: 1px;
}

@media (min-width: 660px) {

  .form-error__wrapper {
    padding: 0;
    outline: 3px solid black;
  }

  .form-error__title {
    margin-bottom: 37px;
    padding: 49px 32px 0 32px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }

  .form-error__text {
    padding: 0 65px 40px 65px;
    font-size: 18px;
  }

  .form-error__container {
    width: 460px;
    outline: 3px solid navy;
  }

  .form-error__button {
    padding: 23px 135px;
  }
}

@media (min-width: 908px) {

  .form-error__wrapper {
    outline: 3px solid gold;
  }

  .form-error__title {
    margin-bottom: 33px;
  }

  .form-error__text {
    padding-bottom: 71px;
    padding-left: 201px;
    padding-right: 201px;
  }

  .form-error__container {
    width: 780px;
    background-color: $color-grey;
    outline: 3px solid magenta;
  }

  .form-error__button {
    padding: 23px 155px;
  }
}
