.feedback {
  margin-bottom: 20px;
  text-align: center;
}

.feedback__wrapper {

  @include wrapper;
}

.feedback__contacts {
  display: flex;
  flex-flow: column wrap;
}

.feedback__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $color-basic-black;
  text-align: center;
}

.feedback__title:nth-of-type(2) {
  margin-bottom: 33px;
}

.feedback__contacts {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: $color-basic-black;
}

.feedback__link {
  display: block;
  text-decoration: none;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: $color-red;

  &:hover {
    color: $color-basic-black
  }

  &:active {
    opacity: .3;
  }


  &:nth-of-type(2) {
    margin-bottom: 35px;
  }
}


@media (min-width: 660px) {

  .feedback {
    margin-bottom: 0;
  }

  .feedback__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .feedback__title {
    font-size: 40px;
    line-height: 54px;

    &:nth-of-type(2) {
      margin-bottom: 14px;
    }
  }

  .feedback__phone {
    padding-right: 20px;
  }

  .feedback__link {
    margin-bottom: 6px;
  }

  .feedback__contacts {
    flex: 1 0 300px;
  }

  .feedback__contacts-title {
    margin-bottom: 4px;
  }

  .feedback__address-text {
    display: block;
    padding: 0 170px;
  }

}

@media (min-width: 1200px) {

  .feedback {
    margin: 0 auto;
    width: 1200px;
    padding-top: 15px;
  }

  .feedback__wrapper {
    flex-flow: row nowrap;
    padding: 0 130px 0 130px;
  }

  .feedback__title {
    font-size: 50px;
    line-height: 68px;
  }

  .feedback__title:nth-of-type(2) {
    margin-bottom: 19px;
  }

  .feedback__contacts-title {
    margin-bottom: 25px;
  }

  .feedback__phone {
    order: 1;
    padding: 0;
  }

  .feedback__email {
    order: 3;
  }

  .feedback__address {
    order: 2;
    margin: 17px 14px 0 14px;
  }

  .feedback__address-text {
    padding: 0 40px;
  }
}
