.footer-other-pages {
  text-align: center;
}

.footer-other__wrapper {
  display: flex;
  flex-flow: column wrap;
}

.footer-other__part {
  margin-bottom: 32px;
}

.footer__logo-tablet {
  color: #283645;
}

.footer__logo-tablet:hover {
  color: #d22856;
}

.footer__logo-tablet:active {
  color: #283645;
  opacity: 0.3;
}

.footer-other__logo-img {
  fill: currentColor;
}

.footer__logo-desktop {
  display: none;
}

.social {
  margin-bottom: 55px;
  display: flex;
  column-gap: 44px;
  padding-left: 70px;
  padding-top: 20px;
}

.social__link {
  width: 20px;
  height: 20px;
}

.social__link::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  transform: translate(-18px, -18px);
  border: 3px solid $black-10;
  border-radius: 50%;
}

.social__link:hover::before {
  border: 3px solid $color-basic-black;
}

.social__link:active::before {
  border: 3px solid $black-10;
}

.social__link:active {
  opacity: 0.3;
}

.social__link--tw {
  background-image: url("../../img/icons/sprite.svg#twitter-pic");
  background-repeat: no-repeat;
}

.social__link--fb {
  background-image: url("../../img/icons/sprite.svg#facebook-pic");
  background-repeat: no-repeat;
}

.social__link__yt {
  background-image: url("../../img/icons/sprite.svg#youtube-pic");
  background-repeat: no-repeat;
}

.social__link__yt::before {
  transform: translate(-20px, -18px);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  padding-right: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.copyright__link::before {
  display: block;
  content: "";
  width: 27px;
  height: 34px;
  background-image: url("../../img/icons/sprite.svg#html-academy");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright__link:hover::before {
  background-image: url("../../img/icons/sprite.svg#html-academy-hover");
}

.copyright__link:active::before {
  background-image: url("../../img/icons/sprite.svg#html-academy-active");
}


@media (min-width: 660px) {
  .footer-other__wrapper {
    display: grid;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
    grid-auto-flow: row;
    padding-bottom: 40px;
  }

  .footer-other__part {
    margin: auto;
  }

  .social {
    padding-top: 6px;
    padding-right: 81px;
  }

  .copyright {
    padding-top: 10px;
  }
}

@media (min-width: 980px) {
  .footer-other__wrapper {
    column-gap: 200px;
  }

  .footer__logo-desktop {
    display: block;
    color: $color-basic-black;
  }

  .footer__logo-tablet {
    display: none;
  }

  .footer__logo-desktop:hover {
    color: $color-red;
  }

  .footer__logo-desktop:active {
    color: $color-basic-black;
    opacity: 0.3;
  }

  .copyright__text {
    font-size: 18px;
  }

  .social {
    column-gap: 42px;
    padding-left: 12px;
    padding-right: 0;
    padding-top: 10px;
  }
}
