.footer {
  text-align: center;
}

.footer__wrapper {
  display: flex;
  flex-flow: column wrap;

  @include wrapper;
}

.footer__part {
  margin-bottom: 32px;
}

.footer__logo-img {
  display: block;
}

.footer__social-list {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.footer__social-item{
  margin-right: 14px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright-text {
  padding-right: 15px;
}


.footer__copyright-link:before {
  display: block;
  content: "";
  width: 27px;
  height: 34px;
  background-image: url("../../img/icons/sprite.svg#html-academy");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__copyright-link:hover:before {
  background-image: url("../../img/icons/sprite.svg#html-academy-hover");
}

.footer__copyright-link:active:before {
  background-image: url("../../img/icons/sprite.svg#html-academy-active");
}


@media (min-width: 660px) {

  .footer__wrapper {
    display: grid;
    justify-content: space-between;
    justify-items: center ;
    grid-template-columns: repeat(3,auto) ;
    grid-template-rows:repeat(1,1fr) ;
    width: 660px;
    padding-bottom: 40px;
  }

  .footer__part {
    margin: auto;
  }

  .footer__social {
    padding-top: 6px;
    padding-right: 14px;
  }
}

@media (min-width: 1200px) {

  .footer__wrapper {
    width: 1200px;
    padding: 0 130px 75px 130px;
  }

  .footer__logo {
    padding-left: 129px;
  }

  .footer__copyright-text {
    font-size: 18px;
  }

  .footer__copyright {
    padding-right: 128px;
  }

  .footer__social {
    padding-right: 0;
    padding-top: 6px;
  }
}
