
.request {
  padding-top: 45px;
}

.request__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $color-basic-black;
}

.request__title {
  display: none;
}

.request__title--mobile {
  margin: 0 0 35px 0;
  display: block;
}

.form {
  display: grid;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__corrector {
  margin: 0 auto;
  width: 280px;
}

.form__box {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}

.form__user-date {
  order: 1;
}

.form__achievements {
  order: 2;
  padding: 40px 0 0 0;
  background-color: $color-grey;
}

.form__container {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

.form__info {
  order: 3;
  padding-top: 31px;
}

.form__apps {
  order: 4;
  padding-top: 38px;
  background-color: $color-grey;
}

.form__textarea {
  order: 5;
  margin-bottom: 48px;
  padding-top: 32px;
}

.form__submit-block {
  order: 6;
  padding: 0 20px;
  text-align: center;
}

.form__label,
.form__user-label,
.form__label-review {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: $color-red;
}

.form__legend {
  display: none;
}

.form__mobile-title {
  margin: 0 0 55px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $color-red;
  padding: 0 15px;

  &:last-of-type {
    margin-bottom: 37px;
  }
}

.form__input[placeholder],
.form__text[placeholder],
.form__achievements-label,
.form__apps-label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $color-basic-black;
}

.form__text[placeholder] {
  text-align: center;
}

.form__achievements-label {
  margin-bottom: 43px;
}

.form__apps-label {
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 35px;
  }
}

.form__user-label,
.form__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 24px;
}


.form__label-review {
  margin-bottom: 10px;
  text-align: center;
}

.form__input {
  margin: 0 0 17px 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  border: 2px solid $color-grey2;

  &:nth-of-type(3) {
    margin-bottom: 44px;
  }

  &:hover {
    border: 2px solid $color-basic-black;
  }

  &:focus {
    border: 2px solid $color-red;
  }
}

.form__email {
  margin-bottom: 42px;
}


.form-checkbox + .form__achievements-label {
  display: inline-flex;
  align-items: center;
  user-select: none;

  &::before {
    content: "";
    margin-right: 20px;
    display: inline-block;
    flex: 0 0 auto;
    width: 35px;
    height: 35px;
    background-color: $color-white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border: 2px solid $color-grey2;
    border-radius: 3px;
    cursor: pointer;
  }
}

.form-checkbox:hover + .form__achievements-label::before {
  border: 2px solid $color-basic-black;
}

.form-checkbox:focus + .form__achievements-label::before {
  border: 2px solid $color-red;
}

.form-checkbox:checked + .form__achievements-label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.7001 0.284331C21.5105 0.102082 21.2557 0 20.9903 0C20.7249 0 20.47 0.102082 20.2805 0.284331L6.70324 13.6028L1.73472 8.72901C1.64045 8.63578 1.52831 8.56178 1.40474 8.51128C1.28118 8.46079 1.14865 8.43479 1.01479 8.43479C0.88093 8.43479 0.748397 8.46079 0.624833 8.51128C0.50127 8.56178 0.389122 8.63578 0.294859 8.72901C0.106004 8.91537 0 9.16747 0 9.43024C0 9.69302 0.106004 9.94512 0.294859 10.1315L5.98331 15.7115C6.07806 15.8037 6.19042 15.8767 6.31396 15.9262C6.4375 15.9756 6.56979 16.0007 6.70324 16C6.96925 15.9989 7.22416 15.8953 7.41303 15.7115L21.7001 1.69675C21.7951 1.60428 21.8705 1.49427 21.922 1.37306C21.9735 1.25186 22 1.12185 22 0.990541C22 0.859234 21.9735 0.729226 21.922 0.608017C21.8705 0.486809 21.7951 0.376798 21.7001 0.284331Z' fill='%23D22856'/%3E%3C/svg%3E%0A");
}

.form__apps-label > .input-radio {
  position: absolute;
  appearance: none;
  appearance: none;
  appearance: none;
}

.form__apps-label > .form__radio {
  display: inline-flex;
  align-items: center;
  user-select: none;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 31px;
    width: 37px;
    height: 37px;
    flex: 0 0 auto;
    background-color: $color-white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border: 2px solid $color-grey2;
    border-radius: 50%;
    cursor: pointer;
  }
}

.form__apps-label > .input-radio:checked + .form__radio::before {
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7.5' fill='%23D22856'/%3E%3C/svg%3E ");
}

.form__apps-label > .input-radio:hover + .form__radio::before,
.form__apps-label > .input-radio:hover:checked + .form__radio::before {
  border: 2px solid $color-basic-black;
}

.form__apps-label > .input-radio:focus + .form__radio::before {
  border: 2px solid $color-red;
}

.form__last-name,
.form__first-name,
.form__patronymic,
.form__phone,
.form__email {
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.form__patronymic {
  margin-bottom: 41px;
}

.form__text {
  margin: 0;
  height: auto;
  max-height: 183px;
  max-width: 258px;
  padding: 0;
  border: 2px solid $color-grey2;
  outline: none;
}

.form__text[placeholder] {
  padding-top: 14px;
  padding-right: 18px;
  text-indent: 20px;
}

.form__btn-submit,
.form__btn-disabled {
  margin-bottom: 34px;
  display: block;
  padding: 17px 45px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.form__btn-submit {
  color: $color-white;
  background-color: $color-green;

  &:hover {
    background-color: var(--dark-green);
  }

  &:active {
    color: $color-white-thirty;
  }
}

.form__btn-disabled {
  color: $color-white;
  background-color: $color-grey2;
}

.form__text-footnote {
  margin-bottom: 55px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.form__footnote {
  color: $color-red;
}

.form__footnote--desktop {
  display: none;
}

@media (min-width: $width-tablet) {
  .request {
    padding-top: 73px;
  }

  .request__title--mobile {
    display: none;
  }

  .request__title--tablet {
    margin-bottom: 72px;
    display: block;
  }

  .form__fieldset {
    border: 2px solid $color-grey2;
  }

  .form__box {
    max-width: 660px;
  }

  .form__corrector {
    width: 620px;
  }

  .form__user-wrapper {
    max-width: 700px;
    display: flex;
    align-items: baseline;
  }

  .form__user-label,
  .form__label {
    padding-left: 0;
  }

  .form__user-label {
    display: block;
    padding-right: 18px;
  }

  .form__last-name,
  .form__first-name,
  .form__patronymic {
    margin-bottom: 52px;
  }

  .form__patronymic {
    margin-bottom: 65px;
  }

  .form__achievements {
    order: 4;
    margin-bottom: 65px;
    padding-top: 21px;
    background-color: $color-white;

    .form__legend-achievements {
      width: 432px;
      background-color: $color-white;
      transform: translate(93px, -38px);
    }

    .form__achievements-label {
      padding-left: 60px;
    }

    .form__achievements-label:last-of-type {
      margin-bottom: 48px;
    }
  }

  .form__apps {
    order: 2;
    margin-bottom: 65px;
    padding-top: 0;
    background-color: $color-white;

    .form__legend-apps {
      margin-bottom: 23px;
      width: 368px;
      background-color: $color-white;
      transform: translate(126px, -16px);
    }

    .form__radio {
      padding-left: 60px;
    }

    .form__app-windows {
      margin-bottom: 66px;
    }

    .form__apps-label {
      margin-bottom: 26px;
    }

    .form__apps-label:nth-of-type(3) {
      margin-bottom: 44px;
    }
  }

  .form__apps-label > .form__radio {
    &::before {
      margin-right: 20px;
    }
  }

  .form__fieldset-wrap {
    margin: 0 auto 53px auto;
    width: 620px;
  }

  .form__info {
    margin-bottom: 65px;
    display: flex;
    flex-flow: column wrap;

    .form__legend-info {
      padding: 0 31px;
    }

    .form__wrap {
      display: flex;
      flex-flow: column-reverse wrap;
      padding: 0 62px;
    }

    .form__label {
      padding-left: 17px;
      margin-bottom: 29px;
    }

    .form__input {
      margin-bottom: 9px;
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
    }

    .form__email {
      background-image: url("data:image/svg+xml,%3Csvg width='59' height='59' viewBox='0 0 59 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='59' height='59' fill='%23E5E5E5'/%3E%3Cpath d='M35.9101 24.6807C37.1101 23.7521 36.8201 23 35.2601 23H24.7301C23.1701 23 22.8801 23.7614 24.0701 24.6807L27.8201 27.5779C28.441 28.0289 29.2067 28.274 29.9951 28.274C30.7834 28.274 31.5491 28.0289 32.1701 27.5779L35.9101 24.6807Z' fill='%23D22856'/%3E%3Cpath d='M32.9101 29.5L30.7001 31.2457C30.6191 31.2933 30.5316 31.3308 30.4401 31.3571L30.3401 31.4036C30.2314 31.4458 30.117 31.4739 30.0001 31.4871L29.6701 31.4314L29.5501 31.3571C29.4648 31.3229 29.3842 31.2792 29.3101 31.2271L27.0801 29.5L23.1801 26.5286C22.0001 25.6 21.0001 26.0271 21.0001 27.4757V33.335C20.9974 33.6825 21.0685 34.0272 21.2093 34.3492C21.3501 34.6712 21.5579 34.9643 21.8207 35.2118C22.0834 35.4592 22.3962 35.6562 22.7409 35.7915C23.0857 35.9267 23.4558 35.9976 23.8301 36H36.1501C36.526 36 36.8983 35.9309 37.2454 35.7968C37.5924 35.6626 37.9075 35.466 38.1724 35.2183C38.4373 34.9706 38.6469 34.6767 38.7889 34.3534C38.9309 34.0302 39.0027 33.6841 39.0001 33.335V27.4757C39.0001 26.0271 38.0001 25.6186 36.8201 26.5471L32.9101 29.5Z' fill='%23D22856'/%3E%3C/svg%3E ");
    }

    .form__phone {
      background-image: url("data:image/svg+xml,%3Csvg width='59' height='59' viewBox='0 0 59 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='59' height='59' fill='%23E5E5E5'/%3E%3Cpath d='M30.0408 20C26.4636 20 22.9068 20.6084 21.582 21.8155C20.6245 22.9164 20.0702 24.2821 20.0023 25.7072C19.9992 25.7619 19.9992 25.8167 20.0023 25.8714C20.0023 26.0814 20.0904 26.2828 20.2471 26.4313C20.4038 26.5798 20.6164 26.6633 20.838 26.6633L24.0788 26.4122H24.1604C24.2688 26.4109 24.3759 26.3895 24.4755 26.349C24.5752 26.3085 24.6654 26.2498 24.7411 26.1763C24.8168 26.1027 24.8765 26.0158 24.9168 25.9204C24.957 25.825 24.977 25.7231 24.9757 25.6203V24.0463C24.9743 23.9313 24.9971 23.8173 25.0426 23.7107C25.088 23.6041 25.1554 23.5072 25.2407 23.4254C25.326 23.3437 25.4276 23.2788 25.5395 23.2345C25.6515 23.1903 25.7716 23.1675 25.8929 23.1675H34.046C34.2919 23.1675 34.5278 23.2601 34.7017 23.4249C34.8757 23.5897 34.9734 23.8132 34.9734 24.0463V25.601C34.9733 25.8077 35.0585 26.0063 35.2109 26.1542C35.3632 26.3022 35.5706 26.3878 35.7887 26.3929H35.8804L39.162 26.644C39.2717 26.644 39.3804 26.6235 39.4818 26.5837C39.5832 26.5439 39.6753 26.4856 39.7529 26.412C39.8305 26.3385 39.8921 26.2512 39.9341 26.1551C39.9761 26.0591 39.9977 25.9561 39.9977 25.8521C40.0008 25.7974 40.0008 25.7426 39.9977 25.6879C39.9242 24.2761 39.378 22.9231 38.4384 21.8252C37.1951 20.6084 33.6179 20 30.0408 20ZM30.0408 30.3039C29.7102 30.3039 29.3871 30.3968 29.1122 30.5708C28.8373 30.7449 28.6231 30.9922 28.4966 31.2816C28.3701 31.571 28.337 31.8894 28.4015 32.1966C28.466 32.5039 28.6252 32.7861 28.8589 33.0075C29.0927 33.229 29.3905 33.3799 29.7147 33.441C30.0389 33.5021 30.375 33.4707 30.6804 33.3509C30.9858 33.231 31.2468 33.028 31.4305 32.7676C31.6141 32.5071 31.7121 32.2009 31.7121 31.8877C31.7135 31.6793 31.6712 31.4728 31.5877 31.2801C31.5042 31.0874 31.3811 30.9123 31.2256 30.7649C31.0702 30.6176 30.8854 30.501 30.682 30.4219C30.4786 30.3427 30.2606 30.3027 30.0408 30.3039ZM28.7872 26.7598V25.7942C28.7872 25.538 28.6799 25.2924 28.4887 25.1113C28.2976 24.9302 28.0384 24.8285 27.7681 24.8285C27.4978 24.8285 27.2386 24.9302 27.0475 25.1113C26.8563 25.2924 26.749 25.538 26.749 25.7942V26.7598L21.0214 32.4478C20.819 32.6306 20.6584 32.8511 20.5497 33.0953C20.441 33.3395 20.3865 33.6023 20.3896 33.8673V35.4511C20.3896 35.872 20.5653 36.2758 20.8785 36.5744C21.1917 36.8729 21.6168 37.0419 22.061 37.0445H22.4788V38.0102C22.4788 38.1402 22.5058 38.2689 22.5583 38.389C22.6108 38.5091 22.6878 38.6182 22.7848 38.7101C22.8818 38.802 22.9969 38.8749 23.1237 38.9247C23.2504 38.9744 23.3862 39 23.5234 39C23.6606 39 23.7964 38.9744 23.9232 38.9247C24.0499 38.8749 24.1651 38.802 24.2621 38.7101C24.3591 38.6182 24.436 38.5091 24.4885 38.389C24.541 38.2689 24.568 38.1402 24.568 38.0102V37.0445H35.4727V38.0102C35.4727 38.2727 35.5828 38.5245 35.7787 38.7101C35.9746 38.8957 36.2403 39 36.5173 39C36.7944 39 37.0601 38.8957 37.256 38.7101C37.4519 38.5245 37.562 38.2727 37.562 38.0102V37.0445H37.9798C38.2001 37.0445 38.4183 37.0032 38.6218 36.923C38.8252 36.8428 39.0099 36.7253 39.1653 36.5772C39.3206 36.4291 39.4435 36.2534 39.5269 36.0601C39.6103 35.8669 39.6525 35.6599 39.6512 35.4511V33.8673C39.6556 33.603 39.6027 33.3406 39.4958 33.0964C39.3888 32.8523 39.2301 32.6315 39.0295 32.4478L33.3835 26.7598V25.7942C33.3835 25.5316 33.2735 25.2799 33.0776 25.0942C32.8817 24.9086 32.616 24.8043 32.3389 24.8043C32.0619 24.8043 31.7962 24.9086 31.6003 25.0942C31.4044 25.2799 31.2943 25.5316 31.2943 25.7942V26.7598H28.7872ZM30.0408 28.6912C30.7019 28.6912 31.3482 28.877 31.8979 29.225C32.4476 29.5731 32.8761 30.0678 33.1291 30.6466C33.3821 31.2253 33.4483 31.8622 33.3193 32.4766C33.1903 33.0911 32.8719 33.6555 32.4044 34.0984C31.937 34.5414 31.3413 34.8431 30.6929 34.9653C30.0445 35.0875 29.3724 35.0248 28.7615 34.7851C28.1507 34.5453 27.6287 34.1393 27.2614 33.6185C26.8941 33.0976 26.698 32.4852 26.698 31.8587C26.698 31.0186 27.0502 30.213 27.6771 29.619C28.304 29.0249 29.1542 28.6912 30.0408 28.6912Z' fill='%23D22856'/%3E%3C/svg%3E ");
    }
  }

  .form__textarea {
    margin-bottom: 66px;

    .form__legend-area {
      padding: 0 38px;
    }

    .form__text {
      margin-bottom: 41px;
      max-width: 478px;
      max-height: 175px;
      transform: translate(59px, -2px);
    }
  }

  .form__submit-block {
    margin-bottom: 77px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
  }

  .form__fieldset:first-child {
    border: none;
  }

  .form__legend {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $color-red;
  }

  .form__legend-apps {
    white-space: nowrap;
  }

  .form__mobile-title {
    display: none;
  }

  .form__label-review {
    display: none;
  }

  .request__title {
    padding: 0 65px;
    box-sizing: border-box;
    font-size: 18px;
  }

  .form__btn-submit {
    padding: 17px 58px;
    height: 100%;
  }
}

@media (min-width: $width-desktop) {
  .request__wrapper {
    margin: 0 auto;
    width: 940px;
  }

  .form__corrector {
    margin: 0;
    width: auto;
  }

  .form__box {
    padding: 0;
  }

  .request__title {
    margin-bottom: 0;

    padding: 0 68px 82px 68px;
  }

  .form {
    display: grid;
    grid-column-gap: 74px;
    grid-row-gap: 48px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }

  .form__fieldset-wrap {
    width: 100%;
  }

  .form-checkbox + .form__achievements-label {
    &::before {
      margin: 0 20px;
    }
  }

  .form__user-date {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    .form__user-label {
      margin: 0;
      padding: 0 20px 0 0;
    }

    .form__last-name,
    .form__first-name,
    .form__patronymic {
      padding-top: 16px;
      box-sizing: border-box;
    }

    .form__patronymic {
      margin-bottom: 0;
    }
  }

  .form__apps {
    margin-bottom: 0;
    grid-row: 1/2;
    grid-column: 2/3;

    .form__corrector {
      transform: translateY(19px);
    }

    .form__legend-apps {
      margin: 0;
      transform: translate(31px, -33px);
    }

    .form__apps-label {
      margin-bottom: 0;
    }

    .form__radio {
      margin-bottom: 34px;
      padding-left: 71px;
    }
  }

  .form__info {
    margin-bottom: 19px;
    grid-row: 2/3;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 74px;
    align-items: center;
    padding: 25px 60px 0 60px;

    .form__wrap {
      margin: 0;
      padding: 0;
    }

    .form__label {
      margin-bottom: 13px;
    }
  }

  .form__label--phone {
    margin-bottom: 0;
  }

  .form__achievements {
    margin-bottom: 0;
    padding: 0;
    grid-row: 3/4;
    grid-column: 1/3;

    .form__legend-achievements {
      margin-bottom: 0;
      transform: translate(252px, -16px);
    }

    .form__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      align-items: center;
      padding: 22px 0 5px 62px;
    }

    .form__achievements-label {
      margin-bottom: 47px;
      padding: 0;
    }

    .form__achievements-label:nth-of-type(2) {
      grid-row: 2/3;
      grid-column: 1/2;
    }

    .form__achievements-label:nth-of-type(5) {
      grid-row: 1/2;
      grid-column: 3/4;
    }
  }

  .form__first-label,
  .form__second-label {
    transform: translateX(-23px);
  }

  .form__textarea {
    margin: 0 0 15px 0;
    grid-row: 4/5;
    grid-column: 1/3;
    border-radius: 1px;
    padding: 31px 0 0 0;

    .form__text {
      padding-right: 0;
      max-width: initial;
      width: 816px;
      height: 111px;
      text-align: left;
    }
  }

  .form__submit-block {
    margin-bottom: 65px;
    grid-row: 5/6;
    grid-column: 1/3;

    .form__text-footnote {
      display: none;
    }

    .form__footnote--desktop {
      display: block;
      text-transform: uppercase;
    }
  }
}
