.header-form {
  position: absolute;
  font-family: "Open Sans",arial,sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  outline: 3px solid darkorchid;
  width: 100%;
}

.header-form__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  @include wrapper;
}

.header-form__slogan {
  margin: 0;
  padding: 0 46px;
  color: $color-white;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
  background-color: blue;

  transform: translate(0,102px);
}

@media (min-width: 768px) {

  .header-form {
    outline: 3px solid cornflowerblue;
  }

  .header-form__wrapper {
    width: 660px;
  }

  .header-form__slogan {
    padding: 0 150px;
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: 1200px) {

  .header-form {
    outline: 3px solid navy;
  };

  .header-form__wrapper {
    width: 1200px;
    padding: 0 130px;
  }

}
