
.map__frame {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
  height: 200px;
}
@media (min-width: 768px) {

  .map__frame {
    height: 374px;
  }
}

@media (min-width: 1200px) {

  .map__frame {
    height: 502px;
  }
}
