.page-header__navigation {
  outline: 3px solid blue;
}

.page-header__toggle {

}

.page-header__list-navigation {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;

  @include list-unstyled;
}

.page-header__item {

}

.page-header__link {
  text-decoration: none;
  color: $color-white;
}
