.page-header {
  margin-bottom: -69px;
  width: 100%;
  min-width: 280px;
  background-color: $color-black-transparent;
  z-index: 10;
}

.page-checkbox {
  display: none;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  padding-top: 7px;
  padding-bottom: 7px;

  @include wrapper;
}

.page-checkbox:checked ~ .page-header__wrapper {
  width: 100%;
  background-color: $color-basic-black;
  border-bottom: 1px solid $color-original-black;
}

.page-checkbox:checked ~ .page-header__wrapper  .page-nav {
  position: absolute;
  top: 70px;
  left: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
  min-height: 69px;
  background-color: $color-basic-black;
}

.page-checkbox:not(:checked) ~.page-header__wrapper  .page-nav {
  display: none;
}

.page-header__logo {
  cursor: pointer;
  color: $color-white;

  &:hover {
    color: $color-red;
  }

  &:active {
    color: $color-white-thirty;
  }
}

.page__logo-img {
  fill: currentColor;
}

.page__desktop {
  display: none;
}

.page__tablet {
  display: block;
  padding-bottom: 15px;

  & > .logo-glasses {
    display: none;
  }

  & > .logo-word {
    transform: translateX(-70px);
  }
}

.page-nav__toggle {
  display: flex;
  align-items: center;
  position: relative;
  width: 50px;
  height: 24px;
  cursor: pointer;
  z-index: 1;
}

.page-nav__toggle > .page-nav__menu,
.page-nav__toggle > .page-nav__menu::before,
.page-nav__toggle > .page-nav__menu::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: $color-white;
}

.page-nav__toggle > .page-nav__menu::before {
  content: "";
  top: -10px;
}

.page-nav__toggle > .page-nav__menu::after {
  content: "";
  top: 10px;
}

.page-nav__menu:hover,
.page-nav__menu:hover::before,
.page-nav__menu:hover::after {
  background-color: $color-red;
}

.page-nav__menu:active,
.page-nav__menu:active::before,
.page-nav__menu:active::after {
  opacity: 0.3;
}

.page-checkbox:checked ~ .page-header__wrapper .page-nav__toggle .page-nav__menu {
  transform: rotate(45deg);
  width: 30px;
}

.page-checkbox:checked ~ .page-header__wrapper .page-nav__toggle .page-nav__menu::before {
  top: 0;
  transform: rotate(0);
}

.page-checkbox:checked ~ .page-header__wrapper .page-nav__toggle .page-nav__menu::after {
  top: 0;
  transform: rotate(90deg);
}

.page-nav__list {
  margin: 0;
  text-align: center;
  width: 100%;

  @include list-unstyled;
}

.page-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  border-top: 1px solid $color-white-transparent;
  border-bottom: 1px solid $color-original-black;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;

  @include link-unstyled;

  &:hover {
    color: $color-red;
  }

  &:active {
    opacity: 0.3;
  }

  &[aria-current="page"] {
    text-decoration-line: underline;
    text-decoration-thickne: 2px;
    text-underline-offset: 13px;
  }
}

@media (min-width: 660px) {

  .page-header {
    margin-bottom: -110px;
  }

  .page-header__wrapper {
    width: 660px;
    padding-bottom: 27px;
    padding-top: 27px;
  }

  .page-checkbox:checked ~ .page-header__wrapper  .page-nav {
    top: 110px;
  }

  .page__tablet {
    & > .logo-glasses {
      display: block;
    }

    & > .logo-word {
      transform: translateX(0);
    }
  }
}

@media (min-width: 1200px) {

  .page-checkbox:not(:checked) ~ .page-header__wrapper,
  .page-checkbox:checked ~ .page-header__wrapper {

    display: flex;
    align-items: baseline;
    padding: 0 130px;
    box-sizing: border-box;
    width: 1200px;
    border: none;
    background-color: transparent;
  }

  .page-checkbox:checked ~ .page-header__wrapper  .page-nav,
  .page-checkbox:not(:checked) ~ .page-header__wrapper .page-nav {

    position: static;
    display: block;
    padding-left: 173px;
    background-color: transparent;

    }

  .page__tablet {
    display: none;
  }

  .page__desktop {
    display: block;
    transform: translateY(27px);
  }

  .page-nav {
    transform: translateY(20px);
  }


  .page-nav__toggle {
    display: none;
  }

  .page-nav__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 79px;
    align-items: center;
  }

  .page-nav__item {
    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        bottom: -19px;
        height: 2px;
        background-color: $color-white;
      }
    }
  }

  .page-nav__link {
    font-weight: 400;
    text-transform: none;
    border: none;
  }
}
