.page {
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page__body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  font-size: 14px;
  line-height: 24px;
}
