.page-header {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  background-color: $color-black-transparent;
  width: 100%;
}

.page-header__logo {
  padding-left: 20px;
}

.page-nav {
  position: relative;
  width: auto;
  min-height: 55px;
  background-color: $color-basic-black;

}

.page__btn-toggle {
  position: absolute;
  top:0;
  right: 0;
  display: block;
  width: 50px;
  height: 24px;
  z-index: 2;
  cursor: pointer;
  @include button-unstyled;
}

.page-nav__wrapper {

}

.page-nav__list {

  @include list-unstyled;

}

.page-nav__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  border-top: 1px solid $color-white-transparent;
  border-bottom: 1px solid $color-original-black;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;

  @include link-unstyled;

}

@media (min-width: 768px) {



}

@media (min-width: 1200px) {

}
