.page-navigation,
.page-navigation--opened {
  --nav-bg: var(--special-blue);
  margin: 0;
  position: relative;
  padding-top: var(--header-min-height);
  background-color: var(--nav-bg);
  box-shadow: 30vw 0 0 0 var(--nav-bg),
  -30vw 0 0 0 var(--nav-bg);

  &::before {
    content: var(--is-nav-visible, "");
    position: absolute;
    top: calc(var(--header-min-height) - 1px);
    width: 100%;
    height: 1px;
    background-color: var(--basic-black);
    box-shadow: 30vw 0 0 0 var(--basic-black),
      -30vw 0 0 0 var(--basic-black);
  }

  &--closed {
    --is-nav-visible: none;
    --nav-bg: transparent;
  }

  &--nojs {
    --nav-position: static;
    --is-toggel-visible: none;
  }
}

.page-navigation__toggle {
  position: absolute;
  top: 20px;
  right: 0;
  gap: 12px;
  width: 50px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page-navigation--closed .page-navigation__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: var(--basic-white);
    box-shadow: 0 10px 0 0 var(--basic-white),
      0 20px 0 0 var(--basic-white);
    border-radius: 1px;
    z-index: 20;
  }

  &:hover::before {
    background-color: var(--basic-pink);
    box-shadow: 0 10px 0 0 var(--basic-pink),
      0 20px 0 0 var(--basic-pink);
  }

  &:active::before {
    opacity: 0.3;
  }
}

.page-navigation--opened .page-navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 23px;
    width: 30px;
    height: 3px;
    background-color: var(--basic-white);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: var(--basic-pink);
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.page-navigation__list {
  display: var(--is-nav-visible);
  position: var(--nav-position, absolute);
  left: 0;
  right: 0;
  background-color: var(--nav-bg);
  box-shadow: 30vw 0 0 0 var(--nav-bg),
  -30vw 0 0 0 var(--nav-bg);
  @include list-unstyled;
}

.page-navigation__item {
  display: grid;

  &::before,
  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--separator);
    box-shadow: 30vw 0 0 0 var(--separator),
    -30vw 0 0 0 var(--separator);
  }

  &::before {
    --separator: var(--special-blue-pale);
  }

  &::after {
    --separator: var(--basic-black);
  }
}

.page-navigation__link {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 16px;
  @include link-unstyled;

  &:hover {
    color: var(--basic-pink);
  }

  &:active {
    color: var(--basic-pink);
    opacity: 0.3;
  }

  &[aria-current="page"] {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 13px;
  }
}

@media (min-width: 660px) {
  .page-navigation__toggle {
    top: 43px;
  }
}

@media (min-width: 980px) {
  .page-navigation,
  .page-navigation--opened {
    --nav-bg: transparent;
    display: flex;
    justify-content: flex-end;

    &::before {
      content: initial;
    }
  }

  .page-navigation__toggle {
    display: none;
  }

  .page-navigation__list {
    top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 85px;
    background-color: transparent;
  }

  .page-navigation__item {
    &::before,
    &::after {
      content: initial;
    }
  }

  .page-navigation__link {
    font-weight: 300;
    text-transform: none;
    padding-inline: 0;

    &:hover {
      color: var(--basic-pink);
    }

    &:active {
      opacity: 0.3;
    }
  }
}
