
a {
  -webkit-tap-highlight-color: transparent;
}

.page {
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page__body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  font-size: 14px;
  line-height: 24px;
}

.page__corrector {
  margin: 0 auto;
  width: 280px;

  @media (max-width: 659.5px) {
    &--except-mobile {
      display: contents;
    }
  }

  @media (min-width: 660px) {
    width: 620px;
  }

  @media (min-width: 980px) {
    width: 940px;
  }
}

.page__modal {
  display: none;
}
