.slogan {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    padding-top: calc(100% / 12);
    height: 0;
    width: 100%;
    background: hsl(0, 0%, 100%) url("data:image/svg+xml,%3Csvg viewBox='0 0 1200 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 100 1200 0v100H0Z' fill='%23F2F2F2'/%3E%3C/svg%3E") no-repeat center / cover;
  }

}
.slogan__wrapper {

  @include wrapper
}

.slogan__text {
  padding: 0;
  font-size:24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $color-basic-black;
  background-color: $color-white;

  &:nth-of-type(1) {
    margin-top: 0;
    margin-bottom: 30px;
  }

  &:nth-of-type(2) {
    margin-bottom: 33px;
  }
}

@media (min-width: 660px) {

  .slogan__wrapper{
    width: 660px;
  }

  .slogan__text {
    margin: 0;
    font-size: 40px;
    line-height: 55px;

    &:nth-of-type(1) {
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      margin-bottom: 27px;
      padding: 0 50px;
    }
  }
 }

@media (min-width: 1200px) {

  .slogan__wrapper {
    margin-bottom: -5px;
    width: 1200px;
    padding: 0 130px;
  }

  .slogan__text {
    font-size: 50px;
    line-height: 68px;
  }

  .slogan__text:nth-of-type(2) {
    margin-bottom: 45px;
    padding: 0 237px;
  }
}
