
.studies {
  margin-bottom: 58px;
  display: none;
  font-weight: 400;
}

.studies__wrapper {

  @include wrapper;
}

.studies__link {
  color: red;
}

.studies__info {
  text-align: left;
}

.studies__title {
  margin: 0;
  padding: 0 140px 0 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

@media (min-width: 660px) {

  .studies {
    display: block;
  }

  .studies__wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 660px;

    &:before {
      content: "";
      width: 236px;
      height: 276px;
      background-image: url("../../img/icons/clock-tablet.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: translateY(-43px);
    }
  }

  .studies__item {
    margin-bottom: 9px;
  }

  .studies__text {
    margin: 0 12px 10px 0;
  }
}

@media (min-width: 1200px) {

  .studies__wrapper {
    width:1200px ;
    padding:0 130px;

    &:before {
      width: 298px;
      height: 345px;
    }
  }

 .studies__info {
    padding-right: 30px;
}

  .studies__title {
    margin-bottom: 37px;;
    line-height: 30px;
  }

  .studies__text {
    margin-bottom: 47px;
  }

  .studies__text,
  .studies__link {
    font-size: 18px;
    line-height: 30px;
  }
}
