.modal__success {
  height: 380px;
}

.modal__success-wrapper {
  padding-top: 40px;
  width: 100%;
  text-align: center;
}

.modal__title {
  margin: 0 0 25px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $color-original-black;
}

.modal__text {
  margin: 0 0 33px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.modal__inside-container {
  margin: 0 auto;
  width: 320px;
  padding: 50px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: $color-grey;
}


.modal__button {
  padding: 17px 66px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-green;
  border-radius: 1px;
}

@media (min-width: 660px) {
  .modal__success {
    height: 432px;
  }

  .modal__success-wrapper {
    padding: 0;
  }

  .modal__title {
    margin-bottom: 21px;
    padding: 49px 113px 0 113px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }

  .modal__text {
    margin: 0;
    padding: 0 66px 30px 66px;
    font-size: 18px;
  }

  .modal__inside-container {
    width: 460px;
  }

  .modal__button {
    padding: 17px 77px;
  }
}

@media (min-width: 980px) {
  .modal__success {
    height: 368px;
  }

  .modal__title {
    margin-bottom: 22px;
  }

  .modal__text {
    margin-bottom: 41px;
    padding: 0 201px;
  }

  .modal__inside-container {
    width: 780px;
  }

  .modal__button {
    padding: 16px 157px;
  }
}
