@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("./source/fonts/opensans.woff2") format("woff2"),
    url("./source/fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("./source/fonts/opensanslight.woff2") format("woff2"),
    url("./source/fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("./source/fonts/opensansbold.woff2") format("woff2"),
    url("./source/fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
