$color-white: #ffffff;
$color-downloads: #1d2631;
$color-basic-black: #283645;
$color-grey: #f2f2f2;
$color-original-black: #000000;
$color-grey2: #e5e5e5;
$color-red: #d22856;
$color-green: #2aab6d;
$color-extra-grey:#c5c5c5
