<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Academy: Пинк</title>
    <link rel="stylesheet" href="../source/css/style.min.css">
  </head>
  <body>
    <section class="tariffs">
      <h2 class="visually-hidden">Тарифные планы</h2>
      <div class="tariffs__wrapper">
        <table class="tariffs__table">
          <tbody class="tariffs__tbody">
            <input class="tariffs__radio tariffs__radio--1" type="radio" name="slide" id="slide-1" checked>
            <input class="tariffs__radio tariffs__radio--2" type="radio" name="slide" id="slide-2">
            <input class="tariffs__radio tariffs__radio--3" type="radio" name="slide" id="slide-3">
            <tr class="tariffs__tr">
              <th class="tariffs__th"></th>
              <th class="tariffs__th"><div class="tariffs__info-wrap">База<span class="tariffs__price">1,99 USD</span></div></th>
              <th class="tariffs__th tariffs__th-hit"><div class="tariffs__info-wrap">Стандарт<span class="tariffs__price">3,99 USD</span></div></th>
              <th class="tariffs__th"><div class="tariffs__info-wrap">Анлим<span class="tariffs__price">9,99 USD</span></div></th>
            </tr>
            <tr class="tariffs__tr">
              <td class="tariffs__td">Розовый фильтр</td>
              <td class="tariffs__td"><div class="tariffs__service-wrap"><span class="tariffs__service">Розовый фильтр</span></div></td>
              <td class="tariffs__td"><div class="tariffs__service-wrap"><span class="tariffs__service">Розовый фильтр</span></div></td>
              <td class="tariffs__td"><div class="tariffs__service-wrap"><span class="tariffs__service">Розовый фильтр</span></div></td>
            </tr>
            <tr class="tariffs__tr">
              <td class="tariffs__td">Смайлики</td>
              <td class="tariffs__td tariffs__td--no"><div class="tariffs__service-wrap"><span class="tariffs__service">Смайлики</span></div></td>
              <td class="tariffs__td"><div class="tariffs__service-wrap"><span class="tariffs__service">Смайлики</span></div></td>
              <td class="tariffs__td"><div class="tariffs__service-wrap"><span class="tariffs__service">Смайлики</span></div></td>
            </tr>
            <tr class="tariffs__tr">
              <td class="tariffs__td">Комментарии</td>
              <td class="tariffs__td tariffs__td--no"><div class="tariffs__service-wrap"><span class="tariffs__service">Комментарий</span></div></td>
              <td class="tariffs__td tariffs__td--no"><div class="tariffs__service-wrap"><span class="tariffs__service">Комментарий</span></div></td>
              <td class="tariffs__td"><div class="tariffs__service-wrap"><span class="tariffs__service">Комментарий</span></div></td>
            </tr>
          </tbody>
        </table>
        <div class="tariffs__toggles">
          <label class="tariffs__lb" for="slide-1"></label>
          <label class="tariffs__lb" for="slide-2"></label>
          <label class="tariffs__lb" for="slide-3"></label>
        </div>
      </div>
    </section>
  </body>
</html>
