<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Academy: Пинк</title>
    <link rel="stylesheet" href="../source/css/style.min.css">
  </head>
  <body>
    <section class="feedback">
      <h2 class="visually-hidden">Блок контактной информации</h2>
      <p class="feedback__title">Остались вопросы?</p>
      <p class="feedback__title">Свяжитесь с нами!</p>
      <div class="feedback__wrapper">
        <p class="feedback__contacts feedback__phone">
          <span class="feedback__phone-title feedback__contacts-title">Звоните:</span>
          <a class="feedback__link" href="tel:+7812555666">+7 (812) 555-66-66</a>
        </p>
        <p class=" feedback__contacts feedback__email">
          <span class="feedback__email-title feedback__contacts-title">Пишите:</span>
          <a class="feedback__link feedback__email-link" href="mailto:mail@htmlacademy.ru">mail@htmlacademy.ru</a>
        </p>
        <p class=" feedback__contacts feedback__address">
          <span class="feedback__address-title feedback__contacts-title">Приезжайте в гости:</span>
          <a class="feedback__link" href="#">
            <span class="feedback__address-text">ул. Большая Конюшенная, 19/8</span>
          </a>
        </p>
      </div>
    </section>
  </body>
</html>
