<!DOCTYPE html>
<html class="page" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Academy: Пинк</title>
    <link rel="stylesheet" href="../source/css/style.min.css">
    </head>
  <body class="page__body">
    <header class="page-header">
      <input class="page-checkbox" type="checkbox" id="mobileMenuOpened" checked>
      <div class="page-header__wrapper">
        <p class="page-header__logo">
          <span class="visually-hidden">PINK</span>
          <picture>
            <source srcset="../source/img/logo/logotype-white-desktop.svg" media="(min-width: 1200px)">
            <source srcset="../source/img/logo/logotype-white-tablet.svg" media="(min-width: 768px)">
            <img class="page__logo-img" src="../source/img/logo/main-logo.svg" alt="Логотип сайта pink, белого цвета">
          </picture>
        </p>
        <label class="page-nav__toggle" for="mobileMenuOpened">
          <span class="page-nav__menu"></span>
        </label>
      </div>

        <nav class="page-nav">
          <ul class="page-nav__list">
            <li class="page-nav__item">
              <a class="page-nav__link" href="../source/index.html">Главная</a>
            </li>
            <li class="page-nav__item">
              <a class="page-nav__link" href="../source/catalog.html">Фотографии</a>
            </li>
            <li class="page-nav__item">
              <a class="page-nav__link page-nav__active" href="../source/form.html">Конкурс</a>
            </li>
            <li class="page-nav__item">
              <a class="page-nav__link" href="https://htmlacademy.ru/intensive/htmlcss">HTML Academy</a>
            </li>
          </ul>
        </nav>
    </header>
  </body>
</html>
