<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Academy: Пинк</title>
    <link rel="stylesheet" href="../source/css/style.min.css">
  </head>
  <body>
    <section class="reviews">
      <h2 class="visually-hidden">Отзывы</h2>
      <div class="reviews__wrapper">
        <div class="reviews__list">
          <div class="reviews__item">
            <div class="reviews__box">
              <picture>
                <source srcset="../source/img/icons/quotes.png" media="(min-width:1200px)">
                <img src="../source/img/icons/quotes.png" width="79" height="63" alt="">
              </picture>
            </div>
            <p class="reviews__text">«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
            </p>
            <span class="reviews__author-name">Николай Петров</span>
            <p class="reviews__author-info">25 лет, водитель трамвая</p>
          </div>
          <blockquote class="reviews__item visually-hidden">
            <cite class="reviews__author-name"></cite>
            <p class="reviews__author-info"></p>
            <p class="reviews__text"></p>
          </blockquote>
          <blockquote class="reviews__item visually-hidden">
            <cite class="reviews__author-name"></cite>
            <p class="reviews__author-info"></p>
            <p class="reviews__text"></p>
          </blockquote>
        </div>
        <button class="reviews__left-arrow reviews__arrow button" aria-label="Правый переключатель"></button>
        <button class="reviews__right-arrow reviews__arrow button" aria-label="Левый переключатель"></button>
        <div class="reviews__toggles">
          <button class="reviews__toggle" type="button" aria-label="первый слайд"></button>
          <button class="reviews__toggle" type="button" aria-label="второй слайд"></button>
          <button class="reviews__toggle" type="button" aria-label="третий слайд"></button>
        </div>
      </div>
    </section>
  </body>
</html>
