<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Academy: Пинк</title>
    <link rel="stylesheet" href="../source/css/style.min.css">
  </head>
  <body>
    <section class="photos">
      <p class="photos__title title">Взгляните на фотографии, которые выкладывают пользователи!</p>
      <p class="photos__title title">Видите, как не хватает ваших?</p>
      <p class="photos__title-tablet">Взгляните на фотографии, которые выкладывают пользователи! Видите, как не хватает ваших?</p>
      <h2 class="visually-hidden">Галерея</h2>
      <a class="photos__first-link link" href="#" aria-label="переход к полноразмерному изображению">
      <picture>
        <source srcset="../source/img/photos/panorama-desktop.jpg" media="(min-width: 1200px)">
        <source srcset="../source/img/photos/panorama-tablet.jpg" media="(min-width: 768px)">
        <img class="photos__main-img" src="../source/img/photos/panorama-mobile.jpg" alt="фото моста в горах">
      </picture>
    </a>
      <article class="photos__daily-post">
        <div class="photos__inner-wrapper photos__first-wrapper">
          <h3 class="visually-hidden">Переход через мост</h3>
          <p class="photos__author photos__first-author">Анна<time class="photos__post-time" datetime="2021-05-12">(5 минут назад)</time></p>
          <p class="photos__caption-text">Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!</p>
          <a class="photos__link-counter photos__link-first" href="#">Нравится: 215</a>
        </div>
      </article>
      <div class="photos__wrapper">
        <article class="photos__post photos__car">
          <a class="photos__link--size-m link" href="#" aria-label="переход к полноразмерному изображению">
            <picture>
              <source srcset="../source/img/photos/photo-1-desktop.jpg" media="(min-width: 1200px)">
              <source srcset="../source/img/photos/photo-1-tablet.jpg" media="(min-width: 768px)">
              <img class="photos__img" src="../source/img/photos/photo-1-mobile.jpg" alt="Фото белого автомобиля на съёмках">
            </picture>
          </a>
          <div class="photos__inner-wrapper">
            <h3 class="visually-hidden">Фото автомобиля</h3>
            <p class="photos__author">Левон<time class="photos__post-time" datetime="2021-05-12">(5 часов назад)</time></p>
            <p class="photos__text photos__first-text">Вчера он на луну летал, сегодня в руки к нам попал.</p>
            <a class="photos__link-counter link" href="#">Нравится: 356</a>
          </div>
        </article>
        <article class="photos__post photos__drum">
          <a class="photos__link--size-m link" href="#" aria-label="переход к полноразмерному изображению">
            <picture>
              <source srcset="../source/img/photos/photo-2-desktop.jpg" media="(min-width: 1200px)">
              <source srcset="../source/img/photos/photo-2-tablet.jpg" media="(min-width: 768px)">
              <img class="photos__img" src="../source/img/photos/photo-2-mobile.jpg" alt="Фото белого автомобиля на съёмках">
            </picture>
          </a>
          <div class="photos__inner-wrapper">
            <h3 class="visually-hidden">Ударная установка</h3>
            <p class="photos__author">Антон<time class="photos__post-time" datetime="2021-05-12">(12 часов назад)</time></p>
            <p class="photos__text photos__short-1">Соседи будут рады!</p>
            <a class="photos__link-counter link" href="#">Нравится: 666</a>
          </div>
        </article>

        <article class="photos__post photos__window">
          <a class="photos__link--size-m link" href="#" aria-label="переход к полноразмерному изображению">
            <picture>
              <source srcset="../source/img/photos/photo-3-desktop.jpg" media="(min-width: 1200px)">
              <source srcset="../source/img/photos/photo-3-tablet.jpg" media="(min-width: 768px)">
              <img class="photos__img" src="../source/img/photos/photo-3-mobile.jpg" alt="Фото белого автомобиля на съёмках">
            </picture>
          </a>
          <div class="photos__inner-wrapper">
            <h3 class="visually-hidden">Вид из окна небоскрёба</h3>
            <p class="photos__author">Борис<time class="photos__post-time" datetime="2021-05-12">(20 часов назад)</time></p>
            <p class="photos__text">Здесь могла быть ваша цитата о высоком и вечном.</p>
            <a class="photos__link-counter link" href="#">Нравится: 215</a>
          </div>
        </article>

        <article class="photos__post photos__shop">
          <a class="photos__link--size-m link" href="#" aria-label="переход к полноразмерному изображению">
            <picture>
              <source srcset="../source/img/photos/photo-4-desktop.jpg" media="(min-width: 1200px)">
              <source srcset="../source/img/photos/photo-4-tablet.jpg" media="(min-width: 768px)">
              <img class="photos__img" src="../source/img/photos/photo-4-mobile.jpg" alt="Фото белого автомобиля на съёмках">
            </picture>
          </a>
          <div class="photos__inner-wrapper">
            <h3 class="visually-hidden">Фото кубанского рынка</h3>
            <p class="photos__author">Сергей<time class="photos__post-time" datetime="2021-05-12">(25 часов назад)</time></p>
            <p class="photos__text photos__short-2">Самая кубанская в мире!</p>
            <a class="photos__link-counter link" href="#">Нравится: 4</a>
          </div>
        </article>

        <article class="photos__post photos__mountains">
          <a class="photos__link--size-m link" href="#" aria-label="переход к полноразмерному изображению">
            <picture>
              <source srcset="../source/img/photos/photo-5-desktop.jpg" media="(min-width: 1200px)">
              <source srcset="../source/img/photos/photo-5-tablet.jpg" media="(min-width: 768px)">
              <img class="photos__img" src="../source/img/photos/photo-5-mobile.jpg" alt="Фото белого автомобиля на съёмках">
            </picture>
          </a>
          <div class="photos__inner-wrapper">
            <h3 class="visually-hidden">Вид в горах</h3>
            <p class="photos__author">Максим<time class="photos__post-time" datetime="2021-05-12">(40 часов назад)</time></p>
            <p class="photos__text">Где снег-то?</p>
            <a class="photos__link-counter link" href="#">Нравится: 150</a>
          </div>
        </article>
        <article class="photos__post photos__airplane">
          <a class="photos__link--size-m link" href="#" aria-label="переход к полноразмерному изображению">
            <picture>
              <source srcset="../source/img/photos/photo-6-desktop.jpg" media="(min-width: 1200px)">
              <source srcset="../source/img/photos/photo-6-tablet.jpg" media="(min-width: 768px)">
              <img class="photos__img" src="../source/img/photos/photo-6-mobile.jpg" alt="Фото белого автомобиля на съёмках">
            </picture>
          </a>
          <div class="photos__inner-wrapper">
            <h3 class="visually-hidden">Фото пассажирского лайнера</h3>
            <p class="photos__author">Надежда<time class="photos__post-time" datetime="2021-05-12">(45 часов назад)</time></p>
            <p class="photos__text">Всем GM и взаимные лайки!</p>
            <a class="photos__link-counter link" href="#">Нравится: 2560</a>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
