<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Academy: Пинк</title>
    <link rel="stylesheet" href="../source/css/style.min.css">
  </head>
  <body>
    <section class="advantages">
      <h2 class="visually-hidden">Преимущества приложения</h2>
      <div class="advantages__wrapper">
        <ul class="advantages__list">
          <li class="advantages__item advantages__item--1">
            <div class="advantages__box advantages__box--desktop">
              <picture>
                <source srcset="../source/img/background/iphone-grey-screen-desktop.png" type="image/png" media="(min-width: 1200px)">
                <img src="../source/img/background/iphone-grey-screen-desktop.png" width="186" height="301" alt="">
              </picture>
            </div>
            <h3 class="advantages__title">Поднимает настроение</h3>
            <p class="advantages__text">Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
            </p>
          </li>
          <li class="advantages__item advantages__item--2">
            <div class="advantages__box advantages__box--desktop">
              <picture>
                <source srcset="../source/img/background/iphone-pink-screen-desktop.png" type="image/png" media="(min-width: 1200px)">
                <img src="../source/img/background/iphone-pink-screen-desktop.png" width="186" height="301" alt="">
              </picture>
            </div>
            <h3 class="advantages__title">Меняет мир вокруг</h3>
            <p class="advantages__text advantages__text--2">Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
            </p>
          </li>
          <li class="advantages__item advantages__item--3">
            <div class="advantages__box advantages__box--desktop">
              <picture>
                <source srcset="../source/img/background/iphone-smile-screen-desktop.png" type="image/png" media="(min-width: 1200px)">
                <img src="../source/img/background/iphone-smile-screen-desktop.png" width="186" height='301' alt="">
              </picture>
            </div>
            <h3 class="advantages__title">Заводит новых друзей</h3>
            <p class="advantages__text">Ставьте лайки, комментируйте, делитесь фотографиями с друзьями и заводите новых
            </p>
          </li>
        </ul>
        <div class="advantages__box advantages__box--mobile">
          <picture>
            <source srcset="../source/img/background/iphone-with-screen-tablet.png" type="image/png" media="(min-width: 768px)">
            <img src="../source/img/background/iphone-with-screen-mobile.png" alt="">
          </picture>
        </div>
      </div>
    </section>
  </body>
</html>
