<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Academy: Пинк</title>
    <link rel="stylesheet" href="../source/css/style.min.css">
  </head>
  <body>
    <section class="form__modal modal-error">
      <div class="modal-error__wrapper">
        <h3 class="modal-error__title title">Что-то пошло не так!</h3>
        <p class="modal-error__text text">Проверьте поля, выделенные красным, скорее всего вы забыли их заполнить</p>
      </div>
      <div class="modal__error-container">
        <button class="modal-error__button button" type="button" aria-label="ок">ок</button>
      </div>
    </section>
  </body>
</html>
