<!DOCTYPE html>
<html class="page" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Academy: Пинк</title>
    <link rel="stylesheet" href="../source/css/style.min.css">
  </head>
  <body class="page__body">
    <p class="editor__title">Затмите их всех!</p>
    <p class="editor__title">Выкладывайте все, что накопилось в телефоне!</p>
    <section class="editor">
      <div class="editor__wrapper">
        <h2 class="visually-hidden">Инструмент обработки изображений</h2>
        <form class="editor__form" action="https://echo.htmlacademy.ru" method="post" target="_blank">
          <div class="wrapper">
            <fieldset class="editor__field-img editor__field">
              <a class="editor__link" href="#" aria-label="редактируемое изображение">
                <picture>
                  <source media="(min-width: 1200px)" srcset="../source/img/photos/photo-7-tablet.jpg">
                  <source media="(min-width: 768px)" srcset="../source/img/photos/photo-7-tablet.jpg">
                  <img class="editor__img" src="../source/img/photos/photo-7-mobile.jpg" alt="Зимняя дорога">
                </picture>
              </a>
            </fieldset>
          </div>
          <div class="wrapper">
            <fieldset class="editor__field-buttons editor__field">
              <button class="editor__button button" aria-label="кнопка кадрирования изображения">
                <picture>
                  <img class="editor__pic" src="../source/img/icons/crop-mobile.svg" srcset="../source/img/icons/crop-mobile@2x.svg" alt="">
                </picture>
              </button>
              <button class="editor__button button" aria-label="кнопка заливки изображения">
                <picture>
                  <img class="editor__pic" src="../source/img/icons/fill-mobile.svg" srcset="../source/img/icons/fill-mobile@2x.svg" alt="">
                </picture>
              </button>
              <button class="editor__button button" aria-label="контраст изображения">
                <picture>
                  <img class="editor__pic" src="../source/img/icons/contrast-mobile.svg" srcset="../source/img/icons/contrast-mobile@2x.svg" alt="">
                </picture>
              </button>
            </fieldset>
          </div>
            <fieldset class="editor__field-slider editor__field">
              <input class="editor__slider" type="range" min="1" max="100" value="85">
            </fieldset>
          <div class="outer__wrapper">
            <div class="wrapper">
              <fieldset class="editor__field-toggles editor__field">
                <div class="editor__toggle editor__toggle-crop" aria-label="регулятор">
                  <input class="editor__slider" type="range" min="1" max="100" value="90">
                  <picture>
                    <source media="(min-width: 1200px)" srcset="../source/img/icons/crop-mobile.svg">
                    <img class="editor__slider-img" src="../source/img/icons/crop-tablet.svg" alt="">
                  </picture>
                </div>
                <div class="editor__toggle editor__toggle-fill" aria-label="регулятор">
                  <input class="editor__slider" type="range" min="1" max="100" value="10">
                  <picture>
                    <source media="(min-width: 1200px)" srcset="../source/img/icons/fill-mobile.svg">
                    <img class="editor__slider-img" src="../source/img/icons/fill-tablet.svg" alt="">
                  </picture>
                </div>
                <div class="editor__toggle editor__toggle-contrast" aria-label="регулятор">
                  <input class="editor__slider" type="range" min="1" max="100" value="50">
                  <picture>
                    <source media="(min-width: 1200px)" srcset="../source/img/icons/contrast-mobile.svg">
                    <img class="editor__slider-img" src="../source/img/icons/contrast-tablet.svg" alt="">
                  </picture>
                </div>
              </fieldset>
            </div>
            <div class="wrapper">
              <fieldset class="editor__group-buttons editor__field">
                <button class="editor-form__submit button" type="submit" aria-label="сделать пост">Запостить</button>
                <button class="editor-form__reset button" type="reset" aria-label="отменить пост" >Отмена</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
