<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Academy: Пинк</title>
    <link rel="stylesheet" href="../source/css/style.min.css">
  </head>
  <body>
    <section class="downloads">
      <div class="downloads__background">
        <strong class="downloads__title downloads__title--mobile">Взгляните на жизнь иначе!</strong>
        <picture>
          <source srcset="../source/img/background/back-desktop.jpg" type="image/jpeg" media="(min-width: 1200px)">
          <source srcset="../source/img/background/back-tablet.jpg" type="image/jpeg" media="(min-width: 768px)">
          <img class="downloads__image" src="../source/img/background/back-mobile.jpg" alt="">
        </picture>
      </div>
        <h2 class="visually-hidden">Загрузка приложения на разные платформы</h2>
        <div class="downloads__buttons-block">
          <div class="downloads__wrapper">
            <strong class="downloads__title downloads__title--tablet">Взгляните на жизнь иначе!</strong>
            <a class="downloads__link" href="https://www.apple.com/iphone/">Скачать приложение</a>
            <ul class="downloads__list">
              <li class="downloads__item">
                <a class="downloads__link-apple downloads__link-app" href="" aria-label="перейти в магазин Apple">
                  <img class="downloads__img" src="../source/img/logo/apple-logo.png" alt="Логотип Apple" width="47" height="56">
                </a>
              </li>
              <li class="downloads__item">
                <a class="downloads__link-google downloads__link-app" href="" aria-label="перейти в Google play">
                  <img class="downloads__img" src="../source/img/logo/android-logo.png" alt="Логотип Android">
                </a>
              </li>
              <li class="downloads__item">
                <a class="downloads__link-microsoft downloads__link-app" href="" aria-label="перейти в Microsoft store">
                  <img class="downloads__img" src="../source/img/logo/microsoft-logo.png" alt="Логотип Microsoft">
                </a>
              </li>
            </ul>
            <p class="downloads__text">Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 8</p>
          </div>
        </div>
    </section>
  </body>
</html>
